.hide {
    display: none;
}


/*--------------------INDEX------------------------------*/
.event-wrapper {
    background-color: #231F42;
    width: 400px;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#eventlist-Header {
    width: 340px;
    margin-top: -3rem;
    margin-bottom: -5rem;
    font-family: Sansita;
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #F56B9A;
}

#eventSection {
    margin-top: -3rem;
}

.eventlist {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.eventlist section {
    display: flex;
    margin-right: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#eventlistInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: -3rem;
    width: 219px;
}


#eventlistDate {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10%;
    width: 66px;
    height: 66px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

#eventlistName {
    width: 202px;
    height: 30px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px #F56B9A;
    margin-top: -0.7rem;
}

#eventlistWhere {
    font-family: Fira Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: -1rem;
    margin-bottom: 0;
}

#eventlistTime {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #D0D0D0;
    margin: 0em;
    padding: 0em;  
}

#eventlistPrice {
    width: 109px;
    height: 27px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #37AEAB;
}




/*--------------------BUY------------------------------*/

.buy-wrapper{
    background-color: #231F42;
    width: 400px;
    min-height: 800px;
}

#orderItem {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#orderItem p {
    font-family: Fira Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: -5rem;
}


#showTicket {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ticketItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ticketItem h1 {
    font-family: Sansita;
    font-style: italic;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F56B9A;
}

.ticketItem h2 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px #F56B9A;
    margin-top: 5rem;
}

.ticketItem h3 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #37AEAB;
    margin-top: -1rem;
}

.ticketItem h4 {
    font-family: Fira Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-top: -0.5rem;
}


/*--------------------TICKET------------------------------*/
.ticket-wrapper {
    width: 400px;
    min-height: 800px;
    background-color: #231F42;
    background: linear-gradient(#F56B9A, #231F42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#ticketItem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ticketInfo {
    width: 300px;
    height: 550px;
    background: #FFFFFF;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.34);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ticketInfo div {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.4);
}

#what {
    margin: 0;
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
}

#what p {
    margin-left: 1rem;
}

#what h1 {
    font-family: Sansita;
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #F56B9A;
    margin-left: 1rem;
    margin-top: 0rem;
}

#where {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 300px;
    height: 120px;
    margin: 0;
    background: rgba(0, 0, 0, 0.03);
    border-top: 1px dashed rgba(0, 0, 0, 0.4);
}

#where p {
    margin-left: 1rem;
}

#where h2 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 0rem;
    margin-left: 1rem;
}



#date {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: -6rem;
}

#when, #from, #to {
    width: 98px;
    height: 60px;
    display: flex;
    flex-direction: column;
    border: 1px dashed rgba(0, 0, 0, 0.4);
    padding: 0;
}

#when p {
    margin-top: 0.5rem;
    margin-left: -3rem;
}

#from p {
    margin-top: 0.5rem;
    margin-left: -3rem;
}

#to p {
    margin-top: 0.5rem;
    margin-left: -3rem;
}

#when h3 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 0rem;
    margin-left: -1.5rem;
    color: rgba(0, 0, 0, 0.6);
}

#from h3 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 0rem;
    margin-left: -2.3rem;
    color: rgba(0, 0, 0, 0.6);
}

#to h3 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 0rem;
    margin-left: -1.5rem;
    color: rgba(0, 0, 0, 0.6);
}

#ticketNumber {
    width: 300px;
    height: 300px;
    background: rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 3px 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bolder;
    font-size: 15px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 2rem;
}

#barcode {
    width: 170px;
    height: 70px;
}





/*--------------------LOGIN & VERIFY------------------------------*/

.staff-wrapper {
    background-color: #F39440;
    width: 400px;
    min-height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 375px;
    height: 200px;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
}

.logo {
    width: 70px;
    height: 70px;
}

.header h3 {
    font-family: Sansita;
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
    color: #000000;
}

.header h2 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.3em;
    color: rgba(0, 0, 0, 0.8);
    margin-top: -10px;
}

.form-input {
    width: 375px;
    height: 150px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login-input {
    width: 375px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#errormessage, #Valid, #notValid {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
}


#username, #password, #ticketNumberInput {
    background-color: #F39440;
}




/*--------------------ADMIN------------------------------*/
.admin-wrapper {
    position: relative;
    width: 1300px;
    height: 1024px;
    background: #231F42;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

#adminEvents {
    width: 1028px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#adminEvents img {
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    margin: 1rem;
}

#events {
    width: 600px;
    height: auto;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 13rem;
}

#eventInfo{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #F56B9A;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.eventitem {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    color: #FFFFFF;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.eventitem h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin: 0.8rem;
}

.name, .place, .tickets, .price{
    width: 100px;
    display: flex;
    align-self: flex-start;
}


#addEvent {
    width: 360px;
    height: 380px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1.5rem;
    margin-top: 13rem;
    margin-left: 3rem;
    margin-right: -10rem;
}

#addEvent h2 {
    width: 120px;
    height: 30px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-self: flex-start;
    color: #F56B9A;
    margin: 0.3rem;
}

#addEvent .inputevent {
    width: 360px;
}

.addEventInput {
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    background: #231F42;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.6);
}

#inputName, #inputWhere, #inputDate{
    width: 320px;
    height: 40px;
    background: rgba(0, 0, 0, 0.03);
    margin: 0.3rem;
}

#inputFrom, #inputTo, #inputTickets, #inputPrice {
    width: 150px;
    height: 40px;
    background: rgba(0, 0, 0, 0.03);
    margin: 0.3rem;
}



/*--------------------INPUT FIELDS------------------------------*/
input {
    width: 310px;
    height: 63px;
    border: 2px solid #231F42;
    border-radius: 3px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.3em;
}


/*--------------------BUTTONS------------------------------*/

button {
    width: 310px;
    height: 60px;
    border-radius: 3px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

#loginButton {
    background: #231F42;
    margin-bottom: 2rem;
}

#verifyButton {
    background: #231F42;
}

#orderButton {
    background: #37AEAB;
    border-radius: 3px;
}

#addEventButton {
    width: 150px;
    height: 40px;
    left: 893px;
    top: 522px;
    background: #F56B9A;
    font-size: 14px;
    line-height: 17px;
    margin: 0.4rem;
    display: flex;
    align-self: flex-start;
}