.hide {
    display: none;
}


/*--------------------INDEX------------------------------*/
.event-wrapper {
    background-color: #231F42;
    width: 400px;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#eventlist-Header {
    width: 340px;
    margin-top: -3rem;
    margin-bottom: -5rem;
    font-family: Sansita;
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #F56B9A;
}

#eventSection {
    margin-top: -3rem;
}

.eventlist {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.eventlist section {
    display: flex;
    margin-right: -1rem ;
}

#eventlistInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: -3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 219px;
}


#eventlistDate {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10%;
    width: 66px;
    height: 66px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

#eventlistName {
    width: 202px;
    height: 30px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px #F56B9A;
    margin-top: -0.7rem;
}

#eventlistWhere {
    font-family: Fira Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: -1rem;
    margin-bottom: 0;
}

#eventlistTime {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #D0D0D0;
    margin: 0em;
    padding: 0em;  
}

#eventlistPrice {
    width: 109px;
    height: 27px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #37AEAB;
}




/*--------------------BUY------------------------------*/

.buy-wrapper{
    background-color: #231F42;
    width: 400px;
    min-height: 800px;
}

#orderItem {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#orderItem p {
    font-family: Fira Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: -5rem;
}


#showTicket {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ticketItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ticketItem h1 {
    font-family: Sansita;
    font-style: italic;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F56B9A;
}

.ticketItem h2 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px #F56B9A;
    margin-top: 5rem;
}

.ticketItem h3 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #37AEAB;
    margin-top: -1rem;
}

.ticketItem h4 {
    font-family: Fira Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-top: -0.5rem;
}


/*--------------------TICKET------------------------------*/
.ticket-wrapper {
    width: 400px;
    min-height: 800px;
    background-color: #231F42;
    background: linear-gradient(#F56B9A, #231F42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#ticketItem {
    width: 400px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.34);
    border-radius: 3px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: rgba(0, 0, 0, 0.4);
}

#ticketNumber {
    width: 311px;
    background: rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 3px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
}

#barcode {
    width: 155px;
    height: 60px;
}





/*--------------------LOGIN & VERIFY------------------------------*/

.staff-wrapper {
    background-color: #F39440;
    width: 400px;
    min-height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 375px;
    height: 200px;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
}

.logo {
    width: 70px;
    height: 70px;
}

.header h3 {
    font-family: Sansita;
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
    color: #000000;
}

.header h2 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.3em;
    color: rgba(0, 0, 0, 0.8);
    margin-top: -10px;
}

.form-input {
    width: 375px;
    height: 150px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login-input {
    width: 375px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#errormessage, #Valid, #notValid {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
}

#username, #password, #ticketNumberInput {
    background-color: #F39440;
}




/*--------------------ADMIN------------------------------*/
.admin-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #231F42;
    display: flex;
    justify-content: space-evenly;
}

#adminEvents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#events {
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#events h3{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #F56B9A;
}

.eventitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}


.addEventInput {
    width: 400px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    border-radius: 3px;
    background: #231F42;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.6);
}

#addEvent {
    width: 432px;
    height: 378px;
    left: 878px;
    top: 202px;
}

#addEvent h2 {
    width: 120px;
    height: 30px;
    left: 894px;
    top: 218px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: #F56B9A;
}

#inputName, #inputWhere, #inputDate{
    width: 310px;
    background: rgba(0, 0, 0, 0.03);
}

#inputFrom, #inputTo, #inputTickets, #inputPrice {
    width: 153px;
    background: rgba(0, 0, 0, 0.03);
}








/*--------------------INPUT FIELDS------------------------------*/
input {
    width: 310px;
    height: 63px;
    border: 2px solid #231F42;
    border-radius: 3px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.3em;
}


/*--------------------BUTTONS------------------------------*/

button {
    width: 310px;
    height: 60px;
    border-radius: 3px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

#loginButton {
    background: #231F42;
    margin-bottom: 2rem;
}

#verifyButton {
    background: #231F42;
}

#orderButton {
    background: #37AEAB;
    border-radius: 3px;
}

#addEventButton {
    width: 191px;
    height: 40px;
    left: 893px;
    top: 522px;
    background: #F56B9A;
    font-size: 14px;
    line-height: 17px;
}